body {
  font-family: 'Open Sans', sans-serif;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
  text-align: center;
}

.tableheader {
  background-color: black;
}
